@import "settings";
@import "foundation";

html, body {
    height: 100%;
//    background-color: blue;
}

h1 {
    padding-bottom: 10px;
    color: #fff; 
    font-family: 'Roboto Slab', serif;
//    font-size: 2em;
}

#cover {
    min-height: 100%;
    background-color: rgb(40, 84, 161);
    color: #4ccead;
    font-family: 'Roboto Slab', serif;
    min-width: 100%;
//    font-size: 3em;
    font-weight: 300;
    a {
        color: #4cceca;
    }
}

.second {
    background-color: grey;
}

#projects {
    div {
        border: solid black 1px;       
    }
}