@import "settings";
@import "foundation";

html, body {
    height: 100%;
//    background-color: blue;
}

h1 {
    padding-bottom: 10px;
    color: #fff; 
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
//    font-size: 2em;
}

#cover {
    min-height: 100%;
    background-color: rgb(40, 84, 161);
    color: #4ccead;
    font-family: 'Roboto Slab', serif;
    min-width: 100%;
//    font-size: 200px;
    
    p {
//        font-weight: 300;
        font-size: 2em;
//        letter-spacing: -0.02em;
        line-height: 1.10em;
    }
    a {
        color: #4cceca;
    }
    
    display: table;
    div{
        display: table-cell;
        vertical-align: middle;
    }
}

.second {
    background-color: grey;
}

#projects {
    display: none;
    div {
        border: solid black 1px;       
    }
}